.hero {;
    background: url(board.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.title {
    letter-spacing: 10px;
}

.subtitle {
    letter-spacing: 7px;
    font-weight: bold;
}

.title, .subtitle {
    top: 50%;
}